$text-color: #3B3A49;
$text-light-color: #f5f5f5;

$main-font: 'Circe';

//$mainButtonColor: #f9a134
//$mainButtonColorHover: #ff920c

// Colors
$brand-orange             : #df771c;
$brand-orange-light       : #e38839;
$brand-deep-blue          : #3B3A49;

$brand-rolo               : #58224b;
$brand-plisse             : #8eba03;
$brand-hblinds            : #4a6103;
$brand-vblinds            : #1a556c;
$brand-roma               : #b30e20;
$brand-profileCornices    : #7e71b1;

$img-border-radius        : 8px;


$colXl                   : 1199px;
$colLg                   : 991px;
$colMd                   : 768px;
$colSm                   : 575px;
$colXs                   : 479px;
