.articles-list-mp
{
margin:0 0 -32px 0;
}

.articles-list-mp div
{
margin:0 0 32px 0;
font-size:13px;
}

.articles-list-mp div a
{
font-size:18px;
display:inline-block;
margin:0 0 10px 0;
line-height:1.5;
}