.where-to-buy
{
	margin-top: 20px;
}

.where-to-buy .wtb-prodlist
{
overflow:hidden;
margin:0 0 -30px -30px;
}

.where-to-buy .wtb-prodlist > div
{
float:left;
width:172px;
height:60px;
margin:0 0 30px 30px;
font-family:'Circe-Bold', Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-size:12px;
line-height:1.4;
}

.where-to-buy .wtb-prodlist > div a
{
display:block;
width:100%;
height:100%;
border:1px solid transparent;
padding:11px 14px;
box-sizing:border-box;
color:#fff;
text-decoration:none;
background-position:100% 0;
background-size:contain;
background-repeat:no-repeat;
}

.where-to-buy .wtb-prodlist > div.pvh a
{
background-color:#df771c;
background-image:url(/template/base/img/prodlist-pvh-color.jpg);
}

.where-to-buy .wtb-prodlist > div.pvh a:hover,
.where-to-buy .wtb-prodlist > div.pvh.active a
{
background-color:transparent;
background-image:url(/template/base/img/prodlist-pvh.jpg);
}

.where-to-buy .wtb-prodlist > div.gform a
{
background-color:#54781e;
background-image:url(/template/base/img/prodlist-gform-color.jpg);
}

.where-to-buy .wtb-prodlist > div.gform a:hover,
.where-to-buy .wtb-prodlist > div.gform.active a
{
background-color:transparent;
background-image:url(/template/base/img/prodlist-gform.jpg);
}

.where-to-buy .wtb-prodlist > div.vform a
{
background-color:#3f6d84;
background-image:url(/template/base/img/prodlist-vform-color.jpg);
}

.where-to-buy .wtb-prodlist > div.vform a:hover,
.where-to-buy .wtb-prodlist > div.vform.active a
{
background-color:transparent;
background-image:url(/template/base/img/prodlist-vform.jpg);
}

.where-to-buy .wtb-prodlist > div.roll a
{
background-color:#6e315d;
background-image:url(/template/base/img/prodlist-roll-color.jpg);
}

.where-to-buy .wtb-prodlist > div.roll a:hover,
.where-to-buy .wtb-prodlist > div.roll.active a
{
background-color:transparent;
background-image:url(/template/base/img/prodlist-roll.jpg);
}

.where-to-buy .wtb-prodlist > div.roma a
{
background-color:#c12437;
background-image:url(/template/base/img/prodlist-roma-color.jpg);
}

.where-to-buy .wtb-prodlist > div.roma a:hover,
.where-to-buy .wtb-prodlist > div.roma.active a
{
background-color:transparent;
background-image:url(/template/base/img/prodlist-roma.jpg);
}

.where-to-buy .wtb-prodlist > div a:hover,
.where-to-buy .wtb-prodlist > div.active a
{
border:1px solid #df771c;
color:#3b3a49;
}

.where-to-buy 
{
overflow:hidden;
margin:32px 0;
}
.newWhereToBuy{ overflow: hidden; margin: 14px 0 21px 0; }
.newWhereToBuy  input[type=text]
{
	float:left; width: 300px;
	/*width:750px;*/ 
	height:56px;
	line-height:56px;
	padding:0 27px 0 63px;
	border:1px solid #e1e1e1;
	box-sizing:border-box;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	background-image: url("/images/h/index-search.png"); 
	background-position:25px 18px;
	background-repeat:no-repeat;
}
@media only screen and (min-width: 1400px) {
	.newWhereToBuy input[type=text]{ width: 450px; }
}
.aspSerarchCityYaMaps { display: block; overflow: hidden; }
.where-to-buy .aspSerarchCityYaMaps input[type=text]
{
	float:left;
	width:750px;
	height:56px;
	line-height:56px;
	padding:0 27px 0 63px;
	border:1px solid #e1e1e1;
	box-sizing:border-box;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	background-image: url("/images/h/index-search.png"); 
	background-position:25px 18px;
	background-repeat:no-repeat;
}
@media only screen and (min-width: 1400px) {
	.newWhereToBuy  input[type=text]{ width: 450px; }
}
.newWhere-to-buy-submit_ASP
{
	float: right;
	width: 128px;
	height: 56px;
	line-height: 58px;
	font-family: 'Circe-Bold', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	background: #3b3a49;
	border: none;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
	cursor: pointer;
}

.where-to-buy-submit_ASP
{
float:right;
width:198px;
height:56px;
line-height:58px;
font-family:'Circe-Bold', Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-size:16px;
color:#fff;
background:#3b3a49;
border:none;
-webkit-border-radius:28px;
-moz-border-radius:28px;
border-radius:28px;
cursor:pointer;
}

.where-to-buy-submit_ASP:hover { background:#dd7300; }

.where-to-buy input[type=submit]
{
float:right;
width:198px;
height:56px;
line-height:58px;
font-family:'Circe-Bold', Arial, Helvetica, sans-serif;
text-transform:uppercase;
font-size:20px;
color:#fff;
background:#3b3a49;
border:none;
-webkit-border-radius:28px;
-moz-border-radius:28px;
border-radius:28px;
cursor:pointer;
}

.where-to-buy  input[type=submit]:hover
{
background:#dd7300;
}

@media only screen and (min-width: 1400px) {
	.where-to-buy .wtb-prodlist
	{
	margin:0 0 -40px -40px;
	}
	
	.where-to-buy .wtb-prodlist > div
	{
	width:228px;
	height:80px;
	margin:0 0 40px 40px;
	font-size:14px;
	}
	
	.where-to-buy 
	{
	margin:40px 0;
	}
	.newWhereToBuy { font-size:20px; }
	.where-to-buy .aspSerarchCityYaMaps input[type=text]
	{
		width:1030px;
		font-size:20px;
	}
	
	.where-to-buy .aspSerarchCityYaMaps input[type=submit]
	{
	width:230px;
	}
}