.fieldset-input
  margin-top: 5px
  input
    text-align: center
    font-size: 18px
    max-width: 100px
    padding: 4px 15px
    border: 1px solid #ccc
    border-radius: 5px
    &.invalid
      border-color: #de0000
      background: rgba(#de0000, .05)
  div
    margin-top: 5px
    display: flex
    align-items: baseline
    flex-wrap: wrap
    justify-content: center
    p
      font-size: 16px
      margin: 10px 15px

.step-content p
  margin-bottom: 10px
  text-align: left
  span
    font-weight: 400

  &.subtitle
    margin-bottom: 10px
    text-align: center
    font-size: 18px
    font-weight: 400

img
  max-width: 300px
  width: 100%
.sizes-desc
  margin-top: 10px
  text-align: center !important
  font-style: italic
.gab-title
  color: $brandMainColor
  font-weight: 400
  margin-bottom: 10px
  font-size: 17px
  text-align: center !important

.gab-sizes
  font-size: 18px
  text-align: center !important

.tac
  text-align: center !important
.buttons
  .button
    display: block
    padding: 10px 20px
    background: none
    text-transform: uppercase
    color: $brandMainColor
    text-decoration: none

    &:hover
      text-decoration: underline
      background: none !important
      color: $brandMainColor !important

.shtapik
  position: absolute
  width: 250px
  top: -225px
  left: 150px
  border-radius: 50%
  border: 3px solid #f5f5f5
  box-shadow: -7px 6px 16px 0px rgba(217,217,217,1)
  z-index: 9

.fa-question-circle
  cursor: pointer

.link
  color: $brandMainColor
  text-decoration: none
  text-align: center
  margin-left: 5px
  transition: .3s ease-in-out
  &:hover
    text-decoration: underline
    color: $brandMainColorLight

.material-tabs__tab_disactive
    background: none !important
    &:hover
        background: #ebebeb !important

.material-tabs__tab_active
    color: $default-color !important
    background: #ffa845 !important
