.footer-menu
{
float:left;
margin:0 0 0 -75px;
}

.footer-menu ul
{
margin:0;
padding:0;
list-style:none;
}

.footer-menu > ul > li
{
float:left;
margin:0 0 0 75px;
}

.footer-menu > ul ul
{
margin:18px 0 0 0;
}

.footer-menu > ul > li > a,
.footer-menu > ul > li > span
{
font-size:14px;
color:#3b3a49;
text-transform:uppercase;
text-decoration:none;
font-family:'Circe-Bold', Arial, Helvetica, sans-serif;
}

.footer-menu > ul > li li
{
margin:10px 0 0 0;
}

.footer-menu > ul > li li:first-child
{
margin:0;
}

.footer-menu > ul > li li > a,
.footer-menu > ul > li li > span
{
font-size:13px;
color:#8e8e8e;
}

.footer-menu > ul > li li > a:hover,
.footer-menu > ul > li li > a.selected,
.footer-menu > ul > li li > span
{
color:#3b3a49;
}

@media only screen and (min-width: 1400px) {
	.footer-menu
	{
	margin:0 0 0 -120px;
	}
	
	.footer-menu > ul > li
	{
	margin:0 0 0 120px;
	}
}